/* All Rights Reserved @ Uplift Consultants (Pvt) Ltd */
/************* Propertylist 2026 **************/
@charset "UTF-8";

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    font-weight: 500;
    transition:  0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
    gap: 8px;
    white-space: nowrap;
    background-color: transparent;
    outline: transparent;
}


.btn.menu {
    width: 100%;
    height: 72px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.btn.avatar {
    height: 40px;
    width: 40px;
    color: var(--text-white);
    border-radius: 50%;
    font-size: 1.25rem;
    background-color: var(--primary);
}

.btn.notifications {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
}

.btn.apps {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
}

.btn.alt {
    padding: 9px 23px;
    height: 40px;
    font-size: 0.85rem;
    border-radius: 20px;
    border: 1px solid #dedede;
}

.btn.logout {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    background-color: red;
}

.btn.primary {
    padding: 0 20px;
    color: #fff;
    font-size: 1rem;
    height: 40px;
    border: transparent;
    border-radius: 8px;
    background-color: var(--primary);
} 

/* .btn.primary:hover {
    background-color: var(--primary-dark);
}
.btn.primary:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
} */



.btn.save {
    padding: 0 20px;
    color: #fff;
    font-size: 1rem;
    height: 40px;
    border: transparent;
    border-radius: 8px;
    background-color: var(--success);
} 
.btn.upload {
    display: inline-flex;
    height: 120px;
    padding: 20px;
    width: 150px;
    flex-direction: column;
    border: 2px dashed var(--primary);
    border-radius: 10px;
}
.btn.publish {
    padding: 0 20px;
    color: #fff;
    font-size: 1rem;
    height: 40px;
    border: transparent;
    border-radius: 8px;
    background-color: var(--warning);
}
.btn.browse {
    display: inline-flex;
    height: 44px;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: var(--primary);
    font-weight: 600;
    border: 1px solid var(--primary);
}

.btn.delete {
    padding: 0 20px;
    color: #fff;
    font-size: 1rem;
    height: 40px;
    border: transparent;
    border-radius: 8px;
    background-color: var(--danger);
} 

.btn.download {
    display: inline-flex;
    margin: 20px auto;
}
.btn.addAgent {
    height: 44px;
    width: 44px;
    align-items: center;
    color: var(--text-white);
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: var(--primary);
}

/* Tabs */

.tabs-header {
    margin-bottom: 20px;
}
.tabs-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.tabs-trigger {
  position: relative;
  padding: 0 20px;
  background: transparent;
  border: 1px solid var(--primary);
  cursor: pointer;
  outline: none;
  border-radius: 18px;
  height: 36px;
}

/* Wrapper for Icon + Text */
.tabs-content-wrapper {
  position: relative;
  z-index: 10; /* Keeps everything above the moving pill */
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
  color: #666;
  transition: color 0.3s ease;
}

.tabs-content-wrapper.active .tab-label{
  color: #ffffff;
}

.tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
}

/* The Animated Pill */
.active-pill {
  position: absolute;
  inset: 0; /* Shorthand for top/bottom/left/right: 0 */
  background-color: #5021ff;
  border-radius: 18px;
}

.tabs-trigger[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}






.pill-group {
  padding: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
}

.pill-group legend {
font: 600;
}

.pill-group input[type="radio"] {
  display: none;
}

.pill-group label {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.2s;
  border: 1px solid #ccc;
}

.pill-group input[type="radio"]:checked + label {
  color: white;
  border-color: var(--primary);
  background-color: var(--primary);
}
