.inputGroup {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 15px;
}

.inputGroup label {
    color: #665;
    font-weight: 500;
    font-size: 0.9rem;
    min-width: 100px;
}

.inputGroup input {
    height: 40px;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: 12px;
    border: transparent;
    background-color: var(--primary-pale);
}
.textArea {
    min-height: 200px;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.35;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 12px;
    border: transparent;
    background-color: #f1f1f1;
    resize: vertical;
}

@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1280px) {
    .inputGroup {
        align-items: center;
        flex-direction: row;
    }
}

@media (min-width: 1281px) {

    .inputGroup {
        align-items: center;
        flex-direction: row;
    }
}
