.widgets {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 100vw;
  gap: 20px;
}

.widgets > .widget {
  min-height: 244px;
  width: 100%;
}

.widgets > .widget.listings {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 20px;
  background: var(--white); 
  border: 1px solid rgba(80, 33, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(80, 33, 255, 0.1)
}

.widgets > .widget.default {
      display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 20px;
background: rgba(80, 33, 255, 0.05); 
  backdrop-filter: blur(10px);
  border: 1px solid rgba(80, 33, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(80, 33, 255, 0.1);
}

.widgets > .widget.primary {
    background-color: var(--primary-dark);
  background-image: 
    radial-gradient(at 0% 0%, var(--primary) 0px, transparent 50%),
    radial-gradient(at 100% 0%, var(--primary-da) 0px, transparent 50%),
    radial-gradient(at 0% 100%, var(--primary-dark) 0px, transparent 50%);
  border-radius: 24px;
}

.widget > .title {
    color: #888;
  padding: 20px 20px 0px 20px;

}
.widget > .content {
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widget > .content .details {
  margin-bottom: 20px;
}

.widget .details li{ 
  display: flex;
  gap: 8px;
  align-items: center;
}

.widget .details li span {
  font-size: 14px;
  color: #555;
}

.indicator {
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #888;
}
.indicator.for-sale {
  background-color: #4CAF50;
}

.indicator.for-rent {
  background-color: #f08825;
}

@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 768px) {


}

@media (min-width: 769px) and (max-width: 1280px) {
  .widgets {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1281px) {
    .widgets {
        grid-template-columns: repeat(4, 1fr);
    }
    .widgets > .widget > .content {
      flex-direction: row;
  }
}